<div class="hero-unit">
  <div class="row-fluid">
    <div class="columnA pull-left">
      <img src="http://farm9.staticflickr.com/8107/8484123920_516296553b_n.jpg">
    </div>
    <div class="columnB pull-left">
      <h2>{{ page.title }}</h2>
      <p>{{ page.description }}</p>
    </div>
  </div>
</div>

{% assign sorted_nodes = site.tags.studies | map: 'to_liquid' | sort: 'toc_order' %}

{% for node in sorted_nodes %}
  {% assign remainder = forloop.index | modulo:3 %}
  {% if forloop.first or remainder == 1 %}
    <div class="row-fluid">
  {% endif %}
      <div class="span4">
        <h2><a href="{{ BASE_PATH }}{{node.url}}">{{ node.toc }}</a></h2>
        <p>{{ node.description }}</p>
        <p><a class="btn" href="{{ BASE_PATH }}{{node.url}}">chapter {{ forloop.index }} &raquo;</a></p>
      </div><!--/span-->
  {% if forloop.last or remainder == 0 %}
    </div>
  {% endif %}
{% endfor %}

