<div class="hero-unit">
  <div class="row-fluid">
    <div class="columnA pull-left">
      <img src="http://farm9.staticflickr.com/8162/7629304702_6ef4275e20_q.jpg">
    </div>
    <div class="columnB pull-left">
      <h2>{{ page.title }}</h2>
      <p>{{ page.description }}</p>
    </div>
  </div>
</div>
<div class="row-fluid">
  {% for toc_order in (0..2) %}
    {% for node in site.tags.studies %}
      {% if node.toc_order == toc_order %}
        <div class="span4">
          <h2>{{ node.toc }}</h2>
          <p>{{ node.description }}</p>
          <p><a class="btn" href="{{ BASE_PATH }}{{node.url}}">View details &raquo;</a></p>
        </div><!--/span-->
      {% endif %}
    {% endfor %}
  {% endfor %}
</div><!--/row-->

<div class="row-fluid">
  {% for toc_order in (3..5) %}
    {% for node in site.tags.studies %}
      {% if node.toc_order == toc_order %}
        <div class="span4">
          <h2>{{ node.toc }}</h2>
          <p>{{ node.description }}</p>
          <p><a class="btn" href="{{ BASE_PATH }}{{node.url}}">View details &raquo;</a></p>
        </div><!--/span-->
      {% endif %}
    {% endfor %}
  {% endfor %}
</div><!--/row-->

<div class="row-fluid">
  {% for toc_order in (6..9) %}
    {% for node in site.tags.studies %}
      {% if node.toc_order == toc_order %}
        <div class="span4">
          <h2>{{ node.toc }}</h2>
          <p>{{ node.description }}</p>
          <p><a class="btn" href="{{ BASE_PATH }}{{node.url}}">View details &raquo;</a></p>
        </div><!--/span-->
      {% endif %}
    {% endfor %}
  {% endfor %}
</div><!--/row-->

