<div class="page-header">
  <h1>{{ page.title }} <small>{{ page.tagline }}</small></h1>
</div>

<div class="row">
  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Table of Content</li>
        {% include studies/oly_toc %}
      </ul>
    </div><!--/.well -->
  </div><!--/span-->
  <div class="span9">
    <div class="row">
      {{ content }}
    </div><!--/row-->
    <hr>
    
    {% if page.include_pagination %}
      <div class="pagination">
        <ul>
        {% if page.previous %}
          <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
        {% else %}
          <li class="prev disabled"><a>&larr; Previous</a></li>
        {% endif %}
          <li><a href="{% post_url 2013-02-17-how-to-win-the-olympics %}">TOC</a></li>

        {% if page.next %}
          <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
        {% else %}
          <li class="next disabled"><a>Next &rarr;</a>
        {% endif %}
        </ul>
      </div>
    {% endif %}
  </div>
</div>

